<!DOCTYPE html>
<html lang="es">
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="/css/styleedit.css">
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#40407a" fill-opacity="1" d="M0,288L60,266.7C120,245,240,203,360,197.3C480,192,600,224,720,234.7C840,245,960,235,1080,202.7C1200,171,1320,117,1380,90.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
        </path>
        <text class="header" x="50%" y="30%" text-anchor="middle" alignment-baseline="middle" fill="#fff" style="font-family: Oxygen">Administración Local con Código de Barras</text>
    </svg>
    <div class="form-table">
        <div class="illustration-1">

        </div>
        <div class="form-add">
            <h2>Edita este Producto</h2>
            <form action="/update/<%= data.id %>" method="post">
                <input type="text" name="ref" id="ref" value="<%= data.ref %>" autofocus>
                <input type="text" name="name" id="name" value="<%= data.name %>">
                <input type="text" name="price" id="price" value="<%= data.price %>">
                <input id="submit" type="submit" value="Editar Producto">
            </form>
        </div>
        <div class="illustration-2">
            
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>